@{
    ViewBag.Title = "经营概览/生产成本";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<script src="~/Content/js/echarts/4.3/echarts.js"></script>
<script src="~/Content/js/bootstrap/bootstrap.js"></script>
<link href="~/Content/js/bootstrap/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/js/pages/AdminLTE.css" rel="stylesheet" />
<link href="~/Content/js/pages/AdminLTE.min.css" rel="stylesheet" />

<style>
</style>
<script>
    window.onload = function () {
        loadOne1a();
        loadOne1b();
    }
    function selectType(obj) {
        loadOne1a();
        loadOne1b();
    }
    function loadOne1a() {
        var listName = new Array();
        var TotalCost = 0;
        var str = [];
        var keyValue = $('#Type_id option:selected').val();
        $.ajax({
            url: "/OperationMonitoring/BusinessOverview/GetDataTotalCycleCost",
            data: { keyValue: keyValue },
            dataType: "json",
            async: false,
            success: function (data) {
                $(data).each(function (index, item) {
                    if (index == 0) {
                        TotalCost = item.TotalCost;
                    }
                    listName.push(item.Name);
                    var str3 = new Object();
                    str3.name = item.Name;
                    str3.value = item.Cost;
                    str[index] = str3;

                })
            }
        });

        var myChart = echarts.init(document.getElementById('chart1a'));
        // 指定图表的配置项和数据
        var option = {
            title: {//标题组件
                text: '￥' + TotalCost + '万',
                top: '47%',
                left: '44%',
                textStyle: {
                    color: "#505050",
                    fontSize: 15,
                    fontFamily: 'KaiTi',
                }
            },
            tooltip: { //提示框组件
                trigger: 'item', //触发类型(饼状图片就是用这个)
                formatter: "{b} : ({c}%)"//"{a} <br/>{b} : {c} ({d}%)" //提示框浮层内容格式器
            },
            color: ['#FFFF99', '#CCCC66', '#00CC99', '#FF3333'],  //手动设置每个图例的颜色
            legend: {  //图例组件
                //right:100,  //图例组件离右边的距离
                orient: 'horizontal',  //布局  纵向布局 图例标记居文字的左边 vertical则反之
                width: 40,      //图行例组件的宽度,默认自适应
                x: 'left',   //图例显示在右边
                y: 'top',   //图例在垂直方向上面显示居中
                itemWidth: 10,  //图例标记的图形宽度
                itemHeight: 10, //图例标记的图形高度
                data: listName,//['物料', '外协', '自制', '异常'],
                textStyle: {    //图例文字的样式
                    color: '#333',  //文字颜色
                    fontSize: 12    //文字大小
                }
            },
            series: [ //系列列表
                {
                    //name:'设备状态',  //系列名称
                    type: 'pie',   //类型 pie表示饼图
                    center: ['50%', '50%'], //设置饼的原心坐标 不设置就会默认在中心的位置
                    radius: ['50%', '70%'],  //饼图的半径,第一项是内半径,第二项是外半径,内半径为0就是真的饼,不是环形
                    itemStyle: {  //图形样式
                        normal: { //normal 是图形在默认状态下的样式；emphasis 是图形在高亮状态下的样式，比如在鼠标悬浮或者图例联动高亮时。
                            label: {  //饼图图形上的文本标签
                                show: true,  //平常不显示
                                formatter: '{c}%',
                                position: 'inner'
                            },
                            labelLine: {     //标签的视觉引导线样式
                                show: false  //平常不显示
                            }
                        },
                        emphasis: {   //normal 是图形在默认状态下的样式；emphasis 是图形在高亮状态下的样式，比如在鼠标悬浮或者图例联动高亮时。
                            label: {  //饼图图形上的文本标签
                                show: true,
                                position: 'center',
                                textStyle: {
                                    fontSize: '20',
                                    fontWeight: 'bold'
                                }
                            }
                        }
                    },
                    data: str//[ { value: 27, name: '物料' }, { value: 18, name: '外协' }, { value: 53, name: '自制' }, { value: 2, name: '异常' } ]
                }
            ]
        };
        myChart.setOption(option);
    }
    function loadOne1b() {
        var listName = new Array();
        var str = [];
        var keyValue = $('#Type_id option:selected').val();
        $.ajax({
            url: "/OperationMonitoring/BusinessOverview/GetDataCostByDepartment",
            data: { keyValue: keyValue },
            dataType: "json",
            async: false,
            success: function (data) {
                $(data).each(function (index, item) {
                    listName.push(item.Name);
                    var str3 = new Object();
                    str3.name = item.Name;
                    str3.value = item.Cost;
                    str[index] = str3;

                })
            }
        });

        var myChart = echarts.init(document.getElementById('chart1b'));
        var option = {
            //title: {
            //    text: '某站点用户访问来源',
            //    subtext: '纯属虚构',
            //    left: 'center'
            //},
            tooltip: {
                trigger: 'item',
                formatter: "{b} : ({c}%)"
            },
            legend: {
                orient: 'vertical',
                left: 'left',
                itemWidth: 10,  //图例标记的图形宽度
                itemHeight: 10, //图例标记的图形高度
                data: listName//['CNC', 'EDM', 'WEDM', '车铣磨抛']
            },
            color: ['#FFFF99', '#CCCC66', '#00CC99', '#FF3333'],
            series: [
                {
                    name: '访问来源',
                    type: 'pie',
                    radius: '65%',
                    center: ['50%', '50%'],
                    data: str//[{ value: 23, name: 'CNC' },{ value: 26, name: 'EDM' },{ value: 17, name: 'WEDM' },{ value: 34, name: '车铣磨抛' },]
                    ,
                    itemStyle: {  //图形样式
                        normal: { //normal 是图形在默认状态下的样式；emphasis 是图形在高亮状态下的样式，比如在鼠标悬浮或者图例联动高亮时。
                            label: {  //饼图图形上的文本标签
                                show: true,  //平常不显示
                                formatter: '{c}%',
                                position: 'inner'
                            },
                            labelLine: {     //标签的视觉引导线样式
                                show: false  //平常不显示
                            }
                        },
                        emphasis: {   //normal 是图形在默认状态下的样式；emphasis 是图形在高亮状态下的样式，比如在鼠标悬浮或者图例联动高亮时。
                            label: {  //饼图图形上的文本标签
                                show: true,
                                position: 'center',
                                textStyle: {
                                    fontSize: '20',
                                    fontWeight: 'bold'
                                }
                            },
                            itemStyle: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                }
            ]
        };
        myChart.setOption(option);
    }
</script>
<body>
    <div class="row">
        <section class="col-lg-6 connectedSortable" style="width:100%">
            <div class="">
                <div class="box-header with-border">
                    <h4 class="box-title">生产成本</h4>
                    <select id="Type_id" name="Type" style="border: solid 1px #000;" onchange="selectType(this)">
                        <option value="1" selected="selected">一周</option>
                        <option value="2">两周</option>
                        <option value="3">三周</option>
                        <option value="4">一个月</option>
                        <option value="5">半年</option>
                        <option value="6">一年</option>
                    </select>
                </div>
                <div class="tab-content" style="height:100%;">
                    <div style="float:left;width:50%">
                        <div style="text-align:center;font-size:13px;">周期总生产成本</div>
                        <div id="chart1a" style="height:700px; "></div>
                    </div>
                    <div style="margin-left:50%;width:auto;">
                        <div style="text-align:center;font-size:13px;">自制成本按部门分类</div>
                        <div id="chart1b" style="height:700px; "></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>