@{
    ViewBag.Title = "经营概览/新摸修模比例";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<script src="~/Content/js/echarts/4.3/echarts.js"></script>
<script src="~/Content/js/pages/world.js"></script>
<script src="~/Content/js/bootstrap/bootstrap.js"></script>
<link href="~/Content/js/bootstrap/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/js/pages/AdminLTE.css" rel="stylesheet" />
@*<link href="~/Content/js/pages/AdminLTE.min.css" rel="stylesheet" />*@
<link href="~/Content/js/pages/app.css" rel="stylesheet" />

<script>
    window.onload = function () {
        loadSix();
    }
    function loadSix() {
        var listName = new Array();
        var str = [];
        $.ajax({
            url: "/OperationMonitoring/BusinessOverview/GetDataMoldProportion",
            dataType: "json",
            async: false,
            success: function (data) {
                $(data).each(function (index, item) {
                    listName.push(item.Name);
                    var str3 = new Object();
                    str3.name = item.Name;
                    str3.value = item.Number;
                    str[index] = str3;
                })
            }
        });
        var myChart = echarts.init(document.getElementById('chart4'));

        var option = {
            color: ['#f18533', '#6d48e6'],
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            series: [{
                name: '',
                type: 'pie',
                radius: '60%',
                center: ['50%', '50%'],
                data: str,
                itemStyle: {  //图形样式
                    normal: { //normal 是图形在默认状态下的样式；emphasis 是图形在高亮状态下的样式，比如在鼠标悬浮或者图例联动高亮时。
                        //borderWidth: 4,
                        //borderColor: '#fff',
                        label: {
                            formatter: function (params) {
                                var percent = 0;
                                var total = 0;
                                for (var i = 0; i < str.length; i++) {
                                    total += str[i].value;
                                }
                                percent = ((params.value / total) * 100).toFixed(0);
                                if (params.name !== '') {
                                    return params.name + ':' + params.value + '套' + '\n' + '\n' + percent + '%';
                                } else {
                                    return '';
                                }
                            },
                            rich: {
                                font: {
                                    fontSize: 14,
                                    padding: [5, 0],
                                    color: '#808080'
                                },
                                hr: {
                                    height: 0,
                                    borderWidth: 1,
                                    width: '100%',
                                    borderColor: '#808080'
                                }
                            }
                        },
                        //labelLine: {
                        //    length: 5,
                        //    length2: 10,
                        //    show: true,
                        //    color: '#00ffff'
                        //}
                    },
                }
            }]
        };
        myChart.setOption(option);
    }
</script>
<div class="row">
    <section class="col-lg-6 connectedSortable" style="width:100%;">
        <div class="box box-default">
            <div class="box-header with-border">
                <h4 class="box-title" style="color:#474242;font-size:16px;font-weight:700;">新摸修模比例</h4>
                <div class="box-tools pull-right">
                    <button type="button" onclick="funFive()" class="btn btn-box-tool"><i class="fa fa-expand"></i></button>
                </div>
            </div>
            <div class="tab-content">
                <div id="chart4" style="height:660px;"></div>
            </div>
        </div>
    </section>
</div>