@{
    ViewBag.Title = "经营概览/交付率/进度";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<script src="~/Content/js/echarts/4.3/echarts.js"></script>
<script src="~/Content/js/pages/world.js"></script>
<script src="~/Content/js/bootstrap/bootstrap.js"></script>
<link href="~/Content/js/bootstrap/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/js/pages/AdminLTE.css" rel="stylesheet" />
@*<link href="~/Content/js/pages/AdminLTE.min.css" rel="stylesheet" />*@
<link href="~/Content/js/pages/app.css" rel="stylesheet" />
<style>
    div.ui-jqgrid-view table.ui-jqgrid-btable {
        border-style: none;
        border-top-style: none;
        border-collapse: separate;
    }

    div.ui-jqgrid-view table.ui-jqgrid-btable td {
        border-left-style: none;
    }

    div.ui-jqgrid-view table.ui-jqgrid-htable {
        border-style: none;
        border-top-style: none;
        border-collapse: separate;
    }

    div.ui-jqgrid-view table.ui-jqgrid-btable th {
        border-left-style: none;
    }
    #gview_gridList table[aria-labelledby="gbox_gridList"] th.ui-th-ltr {
        background: #f2961d;
        color:#fff;
    }
    #gridList, .ui-th-ltr, th.ui-th-ltr {
        background: #fcead2;
    }
</style>
<script>
    window.onload = function () {
        loadTwo();
        gridList();
    }
    function loadTwo() {
        var ListMonth = new Array();
        var ListDeliveryRate = new Array();

        $.ajax({
            async: false,
            url: "/OperationMonitoring/BusinessOverview/GetDataDeliveryCompletionRate",
            type: "get",
            dataType: "json",
            success: function (da) {
                $(da).each(function (index, item) {
                    ListMonth.push(item.Month);
                    ListDeliveryRate.push(item.DeliveryRate);
                })
            }
        })
        var myChart = echarts.init(document.getElementById('chart2'));

        var option = {
            title: {
                text: ''
            },
            tooltip: {
                trigger: 'axis'
            },
            grid: {
                top: 10,
                left: 40,
                right: 15,
                bottom: 50,
                containLabel: false
            },
            //toolbox: {
            //    feature: {
            //        saveAsImage: {}
            //    }
            //},
            tooltip: {
                trigger: 'axis',
                formatter: function (params) {
                    var relVal = params[0].name;
                    for (var i = 0, l = params.length; i < l; i++) {
                        relVal += '<br/>' + params[i].marker + params[i].seriesName + ' : ' + params[i].value + "%";
                    }
                    return relVal;
                }
            },
            xAxis: [{
                type: 'category',
                data: ListMonth,
                axisLine: {
                    show: false,
                    lineStyle: {
                        color: '#808080',

                    }
                },
                axisLabel: {
                    // interval: 0,
                    // rotate: 40,
                    textStyle: {
                        fontSize: '11'
                    }
                },
                axisTick: { //y轴刻度线
                    show: false
                },
            }],
            yAxis: [{
                min: '70',
                interval: 10,
                type: 'value',
                axisLine: {
                    show: false,
                    lineStyle: {
                        color: '#f2961d'
                    }
                },
                splitLine: {
                    show: false,
                    lineStyle: {
                        color: "#f2961d"
                    }
                },
                axisTick: { //y轴刻度线
                    show: false
                },
                axisLabel: {
                    formatter: function (value) {
                        return value + "%";
                    },
                    show: true,
                    textStyle: {
                        color: '#f2961d'
                    }
                },
            }],
            series: [
                {
                    name: '交期达成率',
                    type: 'line',
                    //areaStyle: {normal: {
                    //    color: new echarts.graphic.LinearGradient(
                    //            0, 0, 0, 1,
                    //            [
                    //                { offset: 0, color: '#34d0e9' },
                    //                { offset: 0.5, color: '#0a3d70' },
                    //                { offset: 1, color: 'transparent' }
                    //            ]
                    //    )
                    //}
                    //},
                    itemStyle: {
                        normal: {
                            color: '#f2961d', //改变折线点的颜色
                            lineStyle: {
                                color: '#f2961d' //改变折线颜色
                            }
                        }
                    },
                    data: ListDeliveryRate,
                }
            ]
        };

        myChart.setOption(option);
    }
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/OperationMonitoring/BusinessOverview/GetGridJson",
            height: 280,
            colModel: [
                { label: '模具编号', name: 'MoldNo', width: 150, align: 'center' },
                { label: '试模', name: 'MoldTest', width: 150, align: 'center' },
                { label: '类型', name: 'Type', width: 150, align: 'center' },
                { label: '状态', name: 'State', width: 150, align: 'center' },
                { label: '产品名称', name: 'ProductName', width: 150, align: 'center' },
                {
                    label: '计划交期', name: 'PlannedDeliveryDate', width: 150, align: 'left',
                    formatter: "date", formatoptions: { srcformat: 'Y/m/d', newformat: 'Y/m/d' }
                },
                {
                    label: '预警', name: 'EarlyWarning', width: 100, align: 'center',
                    formatter: function (cellvalue, row, index) {
                        // return '<div style="top: 0%;left: 50%; transform: translate(-0%, -50%);"> <div style="border: 1px #000000 solid;margin:0 auto;position: relative;width:80%; height: 5px;background-color: #f9e1e3; border-radius: 3px;"><div style="white-space: pre-line;width: ' + index.EarlyWarning + '%;height: 100%;background-color:' + index.EarlyWarningColor + ';border-radius: 3px;"></div></div></div>'
                        //提供三个值改变宽度，颜色忽略
                        var temp = ''
                        temp += ' <div class="progress" style="height: 10px;">'
                        var tip = index.EarlyWarning.split(';');
                        if (tip == 0) {
                            temp += '<div class="progress-bar progress-bar-success" style="width:100%;height: 10px"></div>'
                        } else if (tip > 0) {
                            var attnum = 1 - tip;
                            temp += '<div class="progress-bar progress-bar-success" style="width:' + tip * 100 + '%;height: 10px"></div>'
                            temp += ' <div class="progress-bar progress-bar-info" style="width:' + attnum * 100 + '%;height: 10px"></div>'
                        } else if (tip.length == 2) {
                            var attnums = 1 - tip[0] - tip[1];
                            temp += '<div class="progress-bar progress-bar-success" style="width:' + tip[0] * 100 + '%;height: 10px"></div>'
                            temp += ' <div class="progress-bar progress-bar-info" style="width:' + tip[1] * 100 + '%;height: 10px"></div>'
                            temp += '  <div class="progress-bar progress-bar-warning" style="width:' + attnums * 100 + '%;height: 10px"></div>'
                        }
                        //temp += '<div class="progress-bar progress-bar-danger" style="width:15%;height: 5px"></div></div> '
                        return temp;
                    }
                },
            ],
            pager: "#gridPager",
            sortname: 'MoldNo desc',
            viewrecords: true
        });
    }
</script>
<body>
    <div class="row">
        <section class="col-lg-6 connectedSortable" style="width:100%">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h4 class="box-title" style="color:#474242;font-size:16px;font-weight:700;">交付率/进度</h4>
                </div>
                <div class="tab-content" style="height:100%;">
                    <div style="">
                        <div style="text-align:center;font-size:13px;color:#808080;">交期达成率趋势</div>
                        <div id="chart2" style="height:280px;"></div>
                    </div>
                    <div class="gridPanel" style="height:90%;margin:10px;width:98%">
                        <div style="text-align:center;font-size:13px;color:#808080;">在制模具进度</div>
                        <table id="gridList"></table>
                        <div id="gridPager"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>