@{
    ViewBag.Title = "经营概览";
    Layout = "~/Views/Shared/_Index.cshtml";
}
@*<script src="~/Content/js/jquery/jquery-2.1.1.min.js"></script>*@
<script src="~/Content/js/echarts/4.3/echarts.js"></script>
<script src="~/Content/js/pages/world.js"></script>
<script src="~/Content/js/bootstrap/bootstrap.js"></script>
<link href="~/Content/js/bootstrap/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/js/pages/AdminLTE.css" rel="stylesheet" />
@*<link href="~/Content/js/pages/AdminLTE.min.css" rel="stylesheet" />*@
<link href="~/Content/js/pages/app.css" rel="stylesheet" />

<script src="~/Content/js/d3/d3.min.js"></script>
<script src="~/Content/js/d3/d3.layout.cloud.js"></script>
<style>
    div.ui-jqgrid-view table.ui-jqgrid-btable {
        border-style: none;
        border-top-style: none;
        border-collapse: separate;
    }

        div.ui-jqgrid-view table.ui-jqgrid-btable td {
            border-left-style: none;
        }

    div.ui-jqgrid-view table.ui-jqgrid-htable {
        border-style: none;
        border-top-style: none;
        border-collapse: separate;
    }

    div.ui-jqgrid-view table.ui-jqgrid-btable th {
        border-left-style: none;
    }
    #gview_gridList table[aria-labelledby="gbox_gridList"] th.ui-th-ltr {
        background: #f2961d;
        color:#fff;
    }
    #gridList, .ui-th-ltr, th.ui-th-ltr {
        background: #fcead2;
    }
</style>
<script>
    window.onload = function () {
        loadOne1a();
        loadOne1b();
        loadTwo();
        gridList();
        loadThree();
        loadFour();
        loadFive();
    }
    //function selectType(obj) {
    //    loadOne1a();
    //    loadOne1b();
    //}
    //function selectTypes(obj) {
    //    loadThree();
    //}
    function loadOne1a() {
        var listName = new Array();
        var TotalCost = 0;
        var str =[];
        //var keyValue = $('#Type_id option:selected').val();
        $.ajax({
            url: "/OperationMonitoring/BusinessOverview/GetDataTotalCycleCost",
            //data: { keyValue: keyValue },
            dataType: "json",
            async: false,
            success: function (data) {
                $(data).each(function (index, item) {
                    //if (index == 0) {
                    //    TotalCost = item.TotalCost;
                    //}
                    listName.push(item.Name);
                    var str3 = new Object();
                    str3.name = item.Name;
                    str3.value = item.Cost;
                    str[index] = str3;
                    TotalCost += item.Cost;
                })
            }
        });
        var myChart = echarts.init(document.getElementById('chart1a'));
        // 指定图表的配置项和数据
        var option = {
            title: {//标题组件
                text: '￥' + TotalCost + '万',
                top: '35%',
                left: '40%',
                textStyle: {
                    color: "#808080",
                    fontSize: 15,
                    fontFamily: 'KaiTi',
                }
            },
            tooltip: { //提示框组件
                trigger: 'item', //触发类型(饼状图片就是用这个)
                formatter: "{b} : ({c}%)"//"{a} <br/>{b} : {c} ({d}%)" //提示框浮层内容格式器
            },
            color: ['#febf37', '#f18533', '#6d48e6', '#ff6139'],  //手动设置每个图例的颜色
            legend: {  //图例组件
                //right:100,  //图例组件离右边的距离
                //orient: 'horizontal',  //布局  纵向布局 图例标记居文字的左边 vertical则反之
                //width: 40,      //图行例组件的宽度,默认自适应
                //x: 'right',   //图例显示在右边
                //y: 'bottom',   //图例在垂直方向上面显示居中
                itemWidth: 10,  //图例标记的图形宽度
                itemHeight: 10, //图例标记的图形高度
                bottom: 20,
                left: 'center',
                data: listName,//['物料', '外协', '自制', '异常'],
                textStyle: {    //图例文字的样式
                    color: '#808080',  //文字颜色
                    fontSize: 12    //文字大小
                }
            },
            series: [ //系列列表
                {
                    //name:'设备状态',  //系列名称
                    type: 'pie',   //类型 pie表示饼图
                    center: ['50%', '40%'], //设置饼的原心坐标 不设置就会默认在中心的位置
                    radius: ['40%', '70%'],  //饼图的半径,第一项是内半径,第二项是外半径,内半径为0就是真的饼,不是环形
                    itemStyle: {  //图形样式
                        normal: { //normal 是图形在默认状态下的样式；emphasis 是图形在高亮状态下的样式，比如在鼠标悬浮或者图例联动高亮时。
                            borderWidth: 4,
                            borderColor: '#fff',
                            label: {  //饼图图形上的文本标签
                                show: true,  //平常不显示
                                formatter: '{c}%',
                                position: 'inner'
                            },
                            labelLine: {     //标签的视觉引导线样式
                                show: false  //平常不显示
                            }
                        },
                        emphasis: {   //normal 是图形在默认状态下的样式；emphasis 是图形在高亮状态下的样式，比如在鼠标悬浮或者图例联动高亮时。
                            label: {  //饼图图形上的文本标签
                                show: true,
                                position: 'center',
                                textStyle: {
                                    fontSize: '18',
                                    fontWeight: 'bold'
                                }
                            }
                        }
                    },
                    data: str//[ { value: 27, name: '物料' }, { value: 18, name: '外协' }, { value: 53, name: '自制' }, { value: 2, name: '异常' } ]
                }
            ]
        };
        myChart.setOption(option);
    }
    function loadOne1b() {
        var listName = new Array();
        var str = [];
        //var keyValue = $('#Type_id option:selected').val();
        $.ajax({
            url: "/OperationMonitoring/BusinessOverview/GetDataCostByDepartment",
            //data: { keyValue: keyValue },
            dataType: "json",
            async: false,
            success: function (data) {
                $(data).each(function (index, item) {
                    listName.push(item.Name);
                    var str3 = new Object();
                    str3.name = item.Name;
                    str3.value = item.Cost;
                    str[index] = str3;

                })
            }
        });

        var myChart = echarts.init(document.getElementById('chart1b'));
        var option = {
            //title: {
            //    text: '某站点用户访问来源',
            //    subtext: '纯属虚构',
            //    left: 'center'
            //},
            tooltip: {
                trigger: 'item',
                formatter: "{b} : ({c}%)"
            },
            legend: {
                //orient: 'vertical',
                left: 'center',
                itemWidth: 10,  //图例标记的图形宽度
                itemHeight: 10, //图例标记的图形高度
                bottom: 20,
                data: listName,//['CNC', 'EDM', 'WEDM', '车铣磨抛']
                textStyle: {    //图例文字的样式
                    color: '#808080',  //文字颜色
                    fontSize: 12    //文字大小
                }
            },
            color: ['#0867e9', '#f3961d', '#01a0b3', '#0be3fb'],
            series: [
                {
                    name: '访问来源',
                    type: 'pie',
                    radius: '65%',
                    center: ['50%', '40%'],
                    data: str//[{ value: 23, name: 'CNC' },{ value: 26, name: 'EDM' },{ value: 17, name: 'WEDM' },{ value: 34, name: '车铣磨抛' },]
                    ,
                    itemStyle: {  //图形样式
                        normal: { //normal 是图形在默认状态下的样式；emphasis 是图形在高亮状态下的样式，比如在鼠标悬浮或者图例联动高亮时。
                            label: {  //饼图图形上的文本标签
                                show: true,  //平常不显示
                                formatter: '{c}%',
                                position: 'inner'
                            },
                            labelLine: {     //标签的视觉引导线样式
                                show: false  //平常不显示
                            }
                        },
                        emphasis: {   //normal 是图形在默认状态下的样式；emphasis 是图形在高亮状态下的样式，比如在鼠标悬浮或者图例联动高亮时。
                            label: {  //饼图图形上的文本标签
                                show: true,
                                position: 'center',
                                textStyle: {
                                    fontSize: '20',
                                    fontWeight: 'bold'
                                }
                            },
                            itemStyle: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                }
            ]
        };
        myChart.setOption(option);
    }
    function loadTwo() {
        var ListMonth = new Array();
        var ListDeliveryRate = new Array();

        $.ajax({
            async: false,
            url: "/OperationMonitoring/BusinessOverview/GetDataDeliveryCompletionRate",
            type: "get",
            dataType: "json",
            success: function (da) {
                $(da).each(function (index, item) {
                    ListMonth.push(item.Month);
                    ListDeliveryRate.push(item.DeliveryRate);
                })
            }
        })
        var myChart = echarts.init(document.getElementById('chart2'));

        var option = {
            title: {
                text: ''
            },
            tooltip: {
                trigger: 'axis'
            },
            grid: {
                top: 10,
                left: 40,
                right: 15,
                bottom: 50,
                containLabel: false
            },
            //toolbox: {
            //    feature: {
            //        saveAsImage: {}
            //    }
            //},
            tooltip: {
                trigger: 'axis',
                formatter: function (params) {
                    var relVal = params[0].name;
                    for (var i = 0, l = params.length; i < l; i++) {
                        relVal += '<br/>' + params[i].marker + params[i].seriesName + ' : ' + params[i].value + "%";
                    }
                    return relVal;
                }
            },
            xAxis: [{
                type: 'category',
                data: ListMonth,
                axisLine: {
                    show: false,
                    lineStyle: {
                        color: '#808080',

                    }
                },
                axisLabel: {
                    // interval: 0,
                    // rotate: 40,
                    textStyle: {
                        fontSize: '11'
                    }
                },
                axisTick: { //y轴刻度线
                    show: false
                },
            }],
            yAxis: [{
                min: '60',
                //interval: 20,
                type: 'value',
                axisLine: {
                    show: false,
                    lineStyle: {
                        color: '#f2961d'
                    }
                },
                splitLine: {
                    show: false,
                    lineStyle: {
                        color: "#f2961d"
                    }
                },
                axisTick: { //y轴刻度线
                    show: false
                },
                axisLabel: {
                    formatter: function (value) {
                        return value + "%";
                    },
                    show: true,
                    textStyle: {
                        color: '#f2961d'
                    }
                },
            }],
            series: [
                {
                    name: '交期达成率',
                    type:'line',
                    //areaStyle: {normal: {
                    //    color: new echarts.graphic.LinearGradient(
                    //            0, 0, 0, 1,
                    //            [
                    //                { offset: 0, color: '#34d0e9' },
                    //                { offset: 0.5, color: '#0a3d70' },
                    //                { offset: 1, color: 'transparent' }
                    //            ]
                    //    )
                    //}
                    //},
                    itemStyle : {
                        normal : {
                            color: '#f2961d', //改变折线点的颜色
                            lineStyle:{
                                color: '#f2961d' //改变折线颜色
                            }
                        }
                    },
                    data: ListDeliveryRate,
                }
            ]
        };

       myChart.setOption(option);
    }
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/OperationMonitoring/BusinessOverview/GetGridJson",
            height: 70,
            colModel: [
                { label: '模具编号', name: 'MoldNo', width: 70, align: 'center' },
                { label: '试模', name: 'MoldTest', width: 70, align: 'center' },
                { label: '类型', name: 'Type', width: 70, align: 'center' },
                { label: '状态', name: 'State', width: 65, align: 'center' },
                { label: '产品名称', name: 'ProductName', width: 80, align: 'center' },
                {
                    label: '计划交期', name: 'PlannedDeliveryDate', width: 80, align: 'left',
                    formatter: "date", formatoptions: { srcformat: 'Y/m/d', newformat: 'Y/m/d' }
                },
                {
                    label: '预警', name: 'EarlyWarning', width: 100, align: 'center',
                    formatter: function (cellvalue, row, index) {
                       // return '<div style="top: 0%;left: 50%; transform: translate(-0%, -50%);"> <div style="border: 1px #000000 solid;margin:0 auto;position: relative;width:80%; height: 5px;background-color: #f9e1e3; border-radius: 3px;"><div style="white-space: pre-line;width: ' + index.EarlyWarning + '%;height: 100%;background-color:' + index.EarlyWarningColor + ';border-radius: 3px;"></div></div></div>'
                        //提供三个值改变宽度，颜色忽略
                        var temp = ''
                        temp += ' <div class="progress" style="height: 10px;">'
                        var tip = index.EarlyWarning.split(';');
                        if (tip == 0) {
                            temp += '<div class="progress-bar progress-bar-success" style="width:100%;height: 10px"></div>'
                        } else if (tip > 0) {
                            var attnum = 1 - tip;
                            temp += '<div class="progress-bar progress-bar-success" style="width:' + tip * 100 + '%;height: 10px"></div>'
                            temp += ' <div class="progress-bar progress-bar-info" style="width:' + attnum * 100 + '%;height: 10px"></div>'
                        } else if (tip.length == 2) {
                            var attnums = 1 - tip[0] - tip[1];
                            temp += '<div class="progress-bar progress-bar-success" style="width:' + tip[0] * 100 + '%;height: 10px"></div>'
                            temp += ' <div class="progress-bar progress-bar-info" style="width:' + tip[1] * 100 + '%;height: 10px"></div>'
                            temp += '  <div class="progress-bar progress-bar-warning" style="width:' + attnums * 100 + '%;height: 10px"></div>'
                        }
                        //temp += '<div class="progress-bar progress-bar-danger" style="width:15%;height: 5px"></div></div> '
                        return temp;
                    }
                },
            ],
            //pager: "#gridPager",
            sortname: 'MoldNo desc',
            viewrecords: true
        });
    }
    function loadThree()
    {
        var listDeviceType = new Array();
        var listDeviceName = new Array();
        var listAll = new Array();
        //var keyValue = $('#Types_id option:selected').val();
        $.ajax({
            url: "/OperationMonitoring/BusinessOverview/GetDataBOCapacityLoad",
            //data: { keyValue: keyValue },
            dataType: "json",
            async: false,
            success: function (da) {
                $(da).each(function (index, item) {
                    listDeviceType.push(item.DeviceType);
                    listDeviceName.push(item.DeviceName);
                    listAll.push(item);
                })
            }
        })

        $.unique(listDeviceType);
        $.unique(listDeviceName.sort());

        var series = [];
        $.each(listDeviceName, function (index, value) {
            var tempName = new Array();
            var tempArry = new Array();
            $.each(listAll, function (index1, value1) {
                if (value == value1.DeviceName) {
                    tempName = value1.DeviceName;
                    tempArry.push(value1.Number);
                }
            });
            series.push({
                name: tempName,
                type: 'bar',
                stack: '广告' + index,
                data: tempArry,
                itemStyle: {
                    normal: {
                        label: {
                            show: true, //开启显示
                            position: 'right', //在上方显示
                            textStyle: { //数值样式
                                color: '#ffff',
                                fontSize: 12
                            }
                        }
                    }
                },
            })
        });

        var myChart = echarts.init(document.getElementById('chart3'));

        var option = {
            color: ['#0867e9', '#ff6d8d', '#f3961d'],
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross',
                    crossStyle: {
                        color: '#999'
                    }
                },
                formatter: function (params) {
                    var relVal = params[0].name;
                    for (var i = 0, l = params.length; i < l; i++) {
                        relVal += '<br/>' + params[i].marker + params[i].seriesName + ' : ' + params[i].value + "%";
                    }
                    return relVal;
                }
            },
            grid: {
                left: '0%',
                right: '0',
                bottom: '0%',
                containLabel: true
            },
            legend: {
                data: listDeviceName,
                itemWidth: 10,  //图例标记的图形宽度
                itemHeight: 10, //图例标记的图形高度
                textStyle: {    //图例文字的样式
                    color: '#808080',  //文字颜色
                    fontSize: 12    //文字大小
                }
            },
            xAxis: [
                {
                    //type: 'category',
                    //data: listDeviceType,
                    //axisPointer: {
                    //    type: 'shadow'
                    //}
                    show: false
                }
            ],
            yAxis: [
                {
                    type: 'category',
                    inverse: true, //true正序false倒序
                    data: listDeviceType,
                    axisLabel: {
                        show: true,
                        interval: 'auto',
                        formatter: '{value}',
                        textStyle: {
                            color: '#808080'
                        }
                    }
                }
            ],
            series: series
        };
        myChart.setOption(option, true);
    }
    function loadFour()
    {
        var listName = new Array();
        var str = [];
        $.ajax({
            url: "/OperationMonitoring/BusinessOverview/GetDataKeyCustomers",
            dataType: "json",
            async: false,
            success: function (data) {
                $(data).each(function (index, item) {
                    var str3 = new Object();
                    //默认加一条空值，防止.data(nodes.slice(1));获取不到。
                    if (index == "0") {
                        listName.unshift("");
                        str3.name = "";
                        str3.val = 0;
                        str[index] = str3;
                    }
                    listName.push(item.Name);
                    str3.name = item.Name;
                    str3.val = item.Number * 1000 + 20000;
                    str[index+1] = str3;
                })
            }
        });
        var fill = d3.scale.category20();
        var width = 650,
            height = 280;
        var data = str

        //[
        //            { "name": "河北", "val": "62356" },
        //            {"name":"河南","val":"89565"},
        //            {"name":"广东","val":"63658"},
        //            {"name":"江西","val":"68525"},
        //            {"name":"上海","val":"36585"},
        //            {"name":"广西","val":"66589"},
        //            {"name":"云南","val":"86955"},
        //            {"name":"江苏","val":"75565"},
        //            {"name":"陕西","val":"73668"},
        //            {"name":"湖南","val":"95684"}
        //]
        //range（节点数目），radius大小
        var nodes = d3.range(listName.length).map(function (i) {
            var data1 = {
                radius: parseFloat(data[i].val) / 2000,
                value:  parseFloat(data[i].val),
                label: data[i].name
            };
            return data1;


        }),
            root = nodes[0],
            color = d3.scale.category10();

        root.radius = 0;
        root.fixed = true;

        //力导向
        var force = d3.layout.force()
            .gravity(0.01)  //中心产生重力（通俗点说就是改变圆球之间的距离），数值越大挨得越近，0则没有重力
        //    .charge(function(d, i) { return i ? 0 : -2000; })
            .nodes(nodes)
            .size([width, height]);

        force.start();
        var padding = {left:-150, right:-10, top:0, bottom:-10};

        var svg = d3.select("#d3_temp").append("svg")
            .attr("width", width)
            .attr("height", height);

        //var ball = svg.selectAll("circle")
        //  .data(nodes.slice(1))
        //  .enter().append("circle")
        //  .attr("r", function(d) { return d.radius; })
        //  .style("fill", function(d, i) { return color(i % 3); })
        //  .append("text")
        //  .attr("class","text")
        //  .text(d => d.label)
        //  .attr("font-size", "30px")
        //  .attr("fill", "red")
        //  .attr("transform","translate(" + padding.left + "," + padding.top + ")");


        var ball = svg.selectAll("g")
            .data(nodes.slice(1));

        var elemEnter = ball.enter()
                           .append("g")
                           .attr("transform","translate(" + padding.left + "," + padding.top + ")");

        var circle =	elemEnter.append("circle")
                              .attr("r", function(d) { return d.radius; })
        //.style("fill", function(d, i) { return color(i % 1); })
         .style("fill", function (d, i) { return fill(i); })//fill 在前面15行定义为颜色集

        elemEnter.append("text")
        .attr("class","text")
        .text(d => d.label)
        .attr("font-size", "14px")
        .attr("fill", "#fff")




        force.on("tick", function(e) {
            var q = d3.geom.quadtree(nodes),
                  i = 0,
                  n = nodes.length;

            //while (++i < n) q.visit(collide(nodes[i]));
            svg.selectAll("circle")
                  .attr("cx", function(d) { return d.x; })
                  .attr("cy", function(d) { return d.y; });
            svg.selectAll("text")
                  .attr("x", function(d) { return d.x - 16; })
                  .attr("y", function (d) { return d.y + 6; });

            force.resume();

        });

        svg.on("mousemove", function() {
            var p1 = d3.mouse(this);
            root.px = p1[0];
            root.py = p1[1];
            force.resume();
        });

        function collide(node) {
            var r = node.radius + 16,
                  nx1 = node.x - r,
                  nx2 = node.x + r,
                  ny1 = node.y - r,
                  ny2 = node.y + r;
            return function(quad, x1, y1, x2, y2) {
                if (quad.point && (quad.point !== node)) {
                    var x = node.x - quad.point.x,
                        y = node.y - quad.point.y,
                        l = Math.sqrt(x * x + y * y),
                        r = node.radius + quad.point.radius;
                    if (l < r) {
                        l = (l - r) / l * .5;
                        node.x -= x *= l;
                        node.y -= y *= l;
                        quad.point.x += x;
                        quad.point.y += y;
                    }
                }
                return x1 > nx2 || x2 < nx1 || y1 > ny2 || y2 < ny1;
            };
        }
    }
    function loadFive()
    {
        var myChart = echarts.init(document.getElementById('chart4b'));
        var data = [[{ name: '北美洲', value: 0 }], [{ name: '南美洲', value: 0 }], [{ name: '非洲', value: 0 }], [{ name: '欧洲', value: 0 }], [{ name: '大洋洲', value: 0 }], [{ name: '印度', value: 0 }], [{ name: '中国', value: 1 }]]
        var geoCoordMap = { '北美洲': [-101.670961, 41.103997], '南美洲': [-58.842054, -11.895087], '非洲': [22.106051, 14.099049], '欧洲': [15.777381, 49.971800], '大洋洲': [132.637011, -25.596128], '印度': [78.475369, 22.934290], '中国': [113.651000, 39.526776] };
        var convertData = function (data) {
            var res = [];
            for (var i = 0; i < data.length; i++) {
                var dataItem = data[i];
                var fromCoord = geoCoordMap[dataItem[0].name];
                var toCoord = [116.46, 39.92];
                if (fromCoord && toCoord) {
                    res.push([{
                        coord: fromCoord,
                        value: dataItem[0].value
                    }, {
                        coord: toCoord,
                    }]);
                }
            }
            return res;
        };

        var series = [];
        [['北京', data]].forEach(function (item, i) {
            console.log(item);
            series.push({
                type: 'lines', zlevel: 2,
                effect: { show: true, period: 4, trailLength: 0.02, symbol: 'arrow', symbolSize: 5, },
                lineStyle: { normal: { width: 1, opacity: 1, curveness: .3, color: '#00fefe' } },
                data: convertData(item[1])
            }, {
                type: 'effectScatter', coordinateSystem: 'geo', zlevel: 2,
                rippleEffect: { period: 4, brushType: 'stroke', scale: 4 },
                label: {
                    normal: {
                        show: true, position: 'right', offset: [5, 0], fontSize: 15,
                        formatter: function (params) { return params.data.name; }
                    },
                    emphasis: { show: true }
                },
                symbol: 'circle',
                symbolSize: function (val) {
                    return 6 + val[2] * 5;
                },
                itemStyle: { normal: { show: false, color: '#00fefe' } },
                data: item[1].map(function (dataItem) {
                    return { name: dataItem[0].name, value: geoCoordMap[dataItem[0].name].concat([dataItem[0].value]) };
                }),
            },
              {
                  type: 'scatter', coordinateSystem: 'geo', zlevel: 2,
                  rippleEffect: { period: 4, brushType: 'stroke', scale: 4 },
                  label: {
                      normal: {
                          show: true, position: 'right',
                          color: '#0f0', formatter: '{b}',
                          textStyle: { color: '#0f0' }
                      },
                      emphasis: { show: true, color: '#f60' }
                  },
              }
            );
        }
        );

        option = {
            backgroundColor: 'transparent',
            tooltip: {
                trigger: 'item',
                backgroundColor: 'rgba(25,25,44,0.5)',
                textStyle: { color: '#e1e2e5' }
            },

            geo: {
                map: 'world',
                zoom: 1.2,
                label: {
                    emphasis: {
                        show: false
                    }
                },
                roam: true,
                itemStyle: {
                    normal: {
                        areaColor: '#091643',
                        borderColor: '#24273e'
                    },
                    emphasis: {
                        areaColor: '#17a086'
                    }
                }
            },

            series: series
        };
        myChart.setOption(option);
        window.onresize = echart.resize;
        function resize(width, height) {
            var chart = document.getElementById('chart4b');
            chart.style.width = width + "px";
            chart.style.height = height + "px";
            echart.resize();
        }
    }
    function funOne()
    {
        window.open("/OperationMonitoring/BusinessOverview/Form1");
    }
    function funTwo() {
        window.open("/OperationMonitoring/BusinessOverview/Form2");
    }
    function funThree()
    {
        window.open("/OperationMonitoring/BusinessOverview/Form3");
    }
    function funFour()
    {
        window.open("/OperationMonitoring/BusinessOverview/Form4");
    }
</script>

<body>
    <div class="row">
        <section class="col-lg-6 connectedSortable" style="width: 48%;background: url('../../../../Content/js/pages/img/BusinessOverview02.png') 0 0 / 100% 100% no-repeat;position: relative;  margin : 10px 5px 5px 20px;">
            <div class="box box-default">
                <div class="box-header with-border">
                    <div class="box-title" style="color:#474242;font-size:16px;font-weight:700;">生产成本</div>
                    <div style="float:right">
                        @*<select id="Type_id" name="Type" style="border: solid 1px #000;" onchange="selectType(this)">
                                <option value="1" selected="selected">一周</option>
                                <option value="2">两周</option>
                                <option value="3">三周</option>
                                <option value="4">一个月</option>
                                <option value="5">半年</option>
                                <option value="6">一年</option>
                            </select>*@
                    </div>
                    <div class="box-tools pull-right">
                        @*<button type="button" onclick="funOne()" class="btn btn-box-tool"><i class="fa fa-expand"></i></button>*@
                    </div>
                </div>
                <div class="tab-content" style="height:100%;">
                    <div style="float:left;width:50%">
                        <div style="text-align:center;font-size:13px;color:#808080;">周期总生产成本</div>
                        <div id="chart1a" style="height:269px; "></div>
                    </div>
                    <div style="margin-left:50%;width:auto;">
                        <div style="text-align:center;font-size:13px;color:#808080;">自制成本按部门分类</div>
                        <div id="chart1b" style="height:269px; "></div>
                    </div>
                </div>
            </div>
        </section>

        <section class="col-lg-6 connectedSortable" style="width:48.5%;background: url('../../../../Content/js/pages/img/BusinessOverview02.png') 0 0 / 100% 100% no-repeat;position: relative;  margin : 10px 15px 5px 5px;">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h4 class="box-title" style="color:#474242;font-size:16px;font-weight:700;">交付率/进度</h4>
                    <div class="box-tools pull-right">
                        @*<button type="button" onclick="funTwo()" class="btn btn-box-tool"><i class="fa fa-expand"></i></button>*@
                    </div>
                </div>
                <div class="tab-content" style="height:100%;">
                    <div style="height:145px">
                        <div style="text-align:center;font-size:13px;color:#808080;">交期达成率趋势</div>
                        <div id="chart2" style="height:155px;"></div>
                    </div>
                    <div class="gridPanel" style="height:90%;margin:10px;width:98%">
                        <table id="gridList"></table>
                        <div style="text-align:center;font-size:13px;color:#808080;">在制模具进度</div>
                    </div>
                </div>
            </div>
        </section>

        <section class="col-lg-6 connectedSortable" style="width:34%;background: url('../../../../Content/js/pages/img/BusinessOverview01.png') 0 0 / 100% 100% no-repeat;position: relative;  margin : 5px 5px 0px 20px;">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h4 class="box-title" style="color:#474242;font-size:16px;font-weight:700;">产能/负载</h4>
                    <div style="float:right">
                        @*<select id="Types_id" name="Types" style="border: solid 1px #000;" onchange="selectTypes(this)">
                                <option value="1" selected="selected">一周</option>
                                <option value="2">两周</option>
                                <option value="3">三周</option>
                                <option value="4">一个月</option>
                                <option value="5">半年</option>
                                <option value="6">一年</option>
                            </select>*@
                    </div>
                    <div class="box-tools pull-right">
                        @*<button type="button" onclick="funThree()" class="btn btn-box-tool"><i class="fa fa-expand"></i></button>*@
                    </div>
                </div>
                <div class="tab-content">
                    <div id="chart3" style="height:320px;"></div>
                </div>
            </div>
        </section>

        <section class="col-lg-6 connectedSortable" style="width:62.5%;background: url('../../../../Content/js/pages/img/BusinessOverview02.png') 0 0 / 100% 100% no-repeat ;position: relative;  margin : 5px 15px 0px 5px;">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h4 class="box-title" style="color:#474242;font-size:16px;font-weight:700;">客户分布</h4>
                    <div class="box-tools pull-right">
                        @*<button type="button" onclick="funFour()" class="btn btn-box-tool"><i class="fa fa-expand"></i></button>*@
                    </div>
                </div>
                <div class="tab-content" style="height:100%;">
                    <div style="float:left;width:60%">
                        <div style="text-align:center;font-size:13px;color:#808080;">全球分布</div>
                        <div id="chart4b" style="height:303px; "></div>
                    </div>
                    <div style="margin-left:60%;width:auto;">
                        <div style="text-align:center;font-size:13px;color:#808080;">主要客户</div>
                        <div id="chart4a" style="height:300px;background: url('../../../../Content/js/pages/img/bk.png') 0 0 / 100% 100% no-repeat ; background-size: 100% 99%;">
                            <div id="d3_temp" class="test">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>