@{
    ViewBag.Title = "生管主页/生产进度";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script src="~/Content/js/echarts/4.3/echarts.js"></script>
<link href="~/Content/js/pages/AdminLTE.css" rel="stylesheet" />
<link href="~/Content/js/pages/AdminLTE.min.css" rel="stylesheet" />
<script>
    window.onload = function () {
        loadOne();
        gridList();
    }
    function loadOne() {
        var listName = new Array();
        var Display = 0;
        var str = [];
        $.ajax({
            url: "/ProductionManage/ProductionManageHome/GetDataPMHomeMoldProgress",
            dataType: "json",
            async: false,
            success: function (data) {
                $(data).each(function (index, item) {
                    if (index == 0) {
                        Display = item.Display;
                    }
                    listName.push(item.ProgressStatus);
                    var str3 = new Object();
                    str3.name = item.ProgressStatus;
                    str3.value = item.Cost;
                    str[index] = str3;
                })
            }
        });
        var myChart = echarts.init(document.getElementById('chart1a'));
        // 指定图表的配置项和数据
        var option = {
            title: {//标题组件
                text: '在制' + Display + '套',
                top: '45%',
                left: '45%',
                textStyle: {
                    color: "#505050",
                    fontSize: 15,
                    fontFamily: 'KaiTi',
                }
            },
            tooltip: { //提示框组件
                trigger: 'item', //触发类型(饼状图片就是用这个)
                formatter: "{b} : ({c})"//"{a} <br/>{b} : {c} ({d}%)" //提示框浮层内容格式器
            },
            color: ['#00CC99', '#CCCC00'],  //手动设置每个图例的颜色
            legend: {  //图例组件
                //right:100,  //图例组件离右边的距离
                orient: 'horizontal',  //布局  纵向布局 图例标记居文字的左边 vertical则反之
                width: 40,      //图行例组件的宽度,默认自适应
                x: 'left',   //图例显示在右边
                y: 'top',   //图例在垂直方向上面显示居中
                itemWidth: 10,  //图例标记的图形宽度
                itemHeight: 10, //图例标记的图形高度
                data: listName,//['物料', '外协', '自制', '异常'],
                textStyle: {    //图例文字的样式
                    color: '#333',  //文字颜色
                    fontSize: 12    //文字大小
                }
            },
            series: [ //系列列表
                {
                    //name:'设备状态',  //系列名称
                    type: 'pie',   //类型 pie表示饼图
                    center: ['50%', '50%'], //设置饼的原心坐标 不设置就会默认在中心的位置
                    radius: ['50%', '70%'],  //饼图的半径,第一项是内半径,第二项是外半径,内半径为0就是真的饼,不是环形
                    itemStyle: {  //图形样式
                        normal: { //normal 是图形在默认状态下的样式；emphasis 是图形在高亮状态下的样式，比如在鼠标悬浮或者图例联动高亮时。
                            label: {  //饼图图形上的文本标签
                                show: true,  //平常不显示
                                formatter: '{c}',
                                position: 'inner'
                            },
                            labelLine: {     //标签的视觉引导线样式
                                show: false  //平常不显示
                            }
                        },
                        emphasis: {   //normal 是图形在默认状态下的样式；emphasis 是图形在高亮状态下的样式，比如在鼠标悬浮或者图例联动高亮时。
                            label: {  //饼图图形上的文本标签
                                show: true,
                                position: 'center',
                                textStyle: {
                                    fontSize: '20',
                                    fontWeight: 'bold'
                                }
                            }
                        }
                    },
                    data: str
                }
            ]
        };
        myChart.setOption(option);
    }
    function gridList() {
        var $gridList = $("#gridList1");
        $gridList.dataGrid({
            url: "/ProductionManage/ProductionManageHome/GetGridJson",
            height: 600,
            colModel: [
                { label: '模具编号', name: 'MoldNo', width: 65, align: 'left' },
                { label: '版本', name: 'Edition', width: 45, align: 'left' },
                { label: '类型', name: 'Type', width: 40, align: 'left' },
                {
                    label: '计划交期', name: 'PlannedDeliveryDate', width: 80, align: 'left',
                    formatter: "date", formatoptions: { srcformat: 'Y/m/d', newformat: 'Y/m/d' }
                },
                {
                    label: '进度', name: 'EarlyWarning', width: 100, align: 'left',
                    formatter: function (cellvalue, row, index) {
                        return '<div style="top: 10%;left: 50%; transform: translate(-10%, -50%);"> <div style="border: 1px #000000 solid;margin:0 auto;position: relative;width:80%; height: 5px;background-color: #f9e1e3; border-radius: 3px;"><div style="white-space: pre-line;width: ' + index.Progress + '%;height: 100%;background-color:' + index.ProgressColor + ';border-radius: 3px;"></div></div></div>'
                    }
                },
            ],
            pager: "#gridPager",
            sortname: 'MoldNo desc',
            viewrecords: true
        });
    }
</script>
<body>
    <div class="row">
        <section class="col-lg-6 connectedSortable" style="width:100%">
            <div class="">
                <div class="box-header with-border">
                    <h4 class="box-title">生产进度</h4>
                </div>
                <div class="tab-content" style="height:100%;">
                    <div style="float:left;width:48%">
                        <div style="text-align:center;font-size:13px;">模具进度</div>
                        <div id="chart1a" style="height:700px; "></div>
                    </div>
                    <div style="margin-left:48%;width:auto;width:50%;">
                        <div style="text-align:center;font-size:13px;">延期模具</div>
                        <table id="gridList1"></table>
                        <div id="gridPager"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
