@{
    ViewBag.Title = "运行状态";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<html lang="zh-CN">
<head>
    <script src="~/Content/js/jquery/jquery-2.1.1.min.js"></script>
    <script src="~/Content/js/pages/jquery.contip.js"></script>
    <link href="~/Content/js/pages/appbase.css" rel="stylesheet" />
    <link href="~/Content/js/pages/app.css" rel="stylesheet" />
    @*https://blog.csdn.net/u010810136/article/details/76585424*@
    <style type="text/css">
        .tip {
            z-index: 10000;
            position: absolute;
            opacity: 0.86;
            background: rgb(255, 0, 0);
            padding: 7px;
            border-radius: 4px;
            display: block;
            visibility: visible;
            color: #fff;
        }

        .tip-text {
            max-width: 222px;
        }

            .tip-text > p {
                margin: 0;
                padding: 2px;
            }

        .tip-arrow {
            position: absolute;
            width: 0px;
            height: 0px;
            border-width: 6px;
            border-style: solid;
            border-color: rgb(255, 0, 0) transparent transparent;
            border-image: initial;
            left: 50%;
            bottom: -12px;
        }

        .tip-arrows {
            position: absolute;
            width: 0px;
            height: 0px;
            border-width: 6px;
            border-style: solid;
            border-color: transparent transparent rgb(51, 204, 153);
            border-image: initial;
            left: 59.5px;
            top: -12px;
        }

        .tip-1 {
            left: 23%;
            top: 6%;
        }

        .tip-2 {
            left: 40%;
            top: -10%;
        }

        .tip-3 {
            left: 65%;
            top: -11%;
        }

        .tip-4 {
            left: 22%;
            top: 75%;
        }

        .tip-5 {
            left: 48%;
            top: 63%;
        }

        .tip-6 {
            left: 58%;
            top: 56%;
        }

        .iden {
            left: 52%;
            top: 68%;
            width: 30px;
            height: 30px;
            z-index: 10000;
            position: absolute;
        }

        .iden2 {
            left: 63%;
            top: 58%;
            width: 30px;
            height: 30px;
            z-index: 10000;
            position: absolute;
        }

        .temp1 {
            left: 65%;
            top: 73%;
            background: url('../../../../Content/js/pages/img/bk2.png') 0 0 / 100% 100% no-repeat;
            width: 232px;
            height: 178px;
            z-index: 10000;
            position: absolute;
        }

        .temp2 {
            left: 93%;
            top: 73%;
            background: url('../../../../Content/js/pages/img/bk2.png') 0 0 / 100% 100% no-repeat;
            width: 232px;
            height: 178px;
            z-index: 10000;
            position: absolute;
        }

        .temp-text {
            text-align: center;
            font-size: 16px;
            color: #f2961d;
            font-weight: 500;
            top: 5%;
            position: relative;
        }
    </style>
</head>
<body>
    @*<div style="width:1500px;height:670px;margin:auto;background-size:100% 100%;margin : 5px 10px 5px 10px;  background-image: url('../../../../Content/js/pages/img/BusinessOverview01.png')">*@
    <div id="OngridList">
        <div class="tip tip-1">
            <div class="tip-text"></div>
            <span class="tip-arrow"></span>
        </div>
        <div class="tip tip-2">
            <div class="tip-text"></div>
            <span class="tip-arrow"></span>
        </div>
        <div class="tip tip-3">
            <div class="tip-text"></div>
            <span class="tip-arrow"></span>
        </div>
        <div class="tip tip-4">
            <div class="tip-text"></div>
            <span class="tip-arrows"></span>
        </div>
        <div class="iden">
            <div style="color:#0403fe; font-size:20px;transform: rotate(-30deg);">①</div>
        </div>
        <div class="iden2">
            <div style="color:#0403fe; font-size:20px;transform: rotate(-30deg);">②</div>
        </div>
        @*<div class="tip tip-5">
                <div class="tip-text"></div>
                <span class="tip-arrows"></span>
            </div>*@
        @*<div class="tip tip-6">
                <div class="tip-text"></div>
                <span class="tip-arrows"></span>
            </div>*@
        <div class="temp1">
            <div class="temp-text">1号料仓</div>
            <div style="color:#000000;position:relative;top:20px;left:22px;">合格</div><div><div style="background: url('../../../../Content/js/pages/img/jdt.png') 0 0 / 100% 100% no-repeat;top: 4px; left: 15px; border: 2px transparent solid; margin: 4px auto; position: relative; width: 160px; height: 10px; border-radius: 12px;"><div id="dis1" style="white-space:pre-line;width: 50%;height: 100%;background-color:#0403fe;border-radius: 3px;"></div></div></div>
            <div style="color:#000000;position:relative;top:22px;left:10px;">代加工</div><div><div style="background: url('../../../../Content/js/pages/img/jdt.png') 0 0 / 100% 100% no-repeat;top:4px;left:15px;border: 2px transparent solid;margin:4px auto;position: relative;width:160px; height: 10px; border-radius: 12px;"><div id="dis2" style="white-space:pre-line;width: 60%;height: 100%;background-color:#f3961d;border-radius: 3px;"></div></div></div>
            <div style="color:#000000;position:relative;top:23px;left:22px;">异常</div><div><div style="background: url('../../../../Content/js/pages/img/jdt.png') 0 0 / 100% 100% no-repeat;top:4px;left:15px;border: 2px transparent solid;margin:4px auto;position: relative;width:160px; height: 10px; border-radius: 12px;"><div id="dis3" style="white-space:pre-line;width: 70%;height: 100%;background-color:#f15d5d;border-radius: 3px;"></div></div></div>
            <div style="color:#000000;position:relative;top:22px;left:22px;">剩余</div><div><div style="background: url('../../../../Content/js/pages/img/jdt.png') 0 0 / 100% 100% no-repeat;top:4px;left:15px;border: 2px transparent solid;margin:4px auto;position: relative;width:160px; height: 10px; border-radius: 12px;"><div id="dis4" style="white-space:pre-line;width: 80%;height: 100%;background-color:#01ffff;border-radius: 3px;"></div></div></div>
        </div>
        <div class="temp2">
            <div class="temp-text">2号料仓</div>
            <div style="color:#000000;position:relative;top:20px;left:22px;">合格</div><div><div style="background: url('../../../../Content/js/pages/img/jdt.png') 0 0 / 100% 100% no-repeat;top: 4px; left: 15px; border: 2px transparent solid; margin: 4px auto; position: relative; width: 160px; height: 10px; border-radius: 12px;"><div id="yis1" style="white-space:pre-line;width: 50%;height: 100%;background-color:#0403fe;border-radius: 3px;"></div></div></div>
            <div style="color:#000000;position:relative;top:22px;left:10px;">代加工</div><div><div style="background: url('../../../../Content/js/pages/img/jdt.png') 0 0 / 100% 100% no-repeat;top:4px;left:15px;border: 2px transparent solid;margin:4px auto;position: relative;width:160px; height: 10px; border-radius: 12px;"><div id="yis2" style="white-space:pre-line;width: 60%;height: 100%;background-color:#f3961d;border-radius: 3px;"></div></div></div>
            <div style="color:#000000;position:relative;top:23px;left:22px;">异常</div><div><div style="background: url('../../../../Content/js/pages/img/jdt.png') 0 0 / 100% 100% no-repeat;top:4px;left:15px;border: 2px transparent solid;margin:4px auto;position: relative;width:160px; height: 10px; border-radius: 12px;"><div id="yis3" style="white-space:pre-line;width: 70%;height: 100%;background-color:#f15d5d;border-radius: 3px;"></div></div></div>
            <div style="color:#000000;position:relative;top:22px;left:22px;">剩余</div><div><div style="background: url('../../../../Content/js/pages/img/jdt.png') 0 0 / 100% 100% no-repeat;top:4px;left:15px;border: 2px transparent solid;margin:4px auto;position: relative;width:160px; height: 10px; border-radius: 12px;"><div id="yis4" style="white-space:pre-line;width: 80%;height: 100%;background-color:#01ffff;border-radius: 3px;"></div></div></div>
        </div>
    </div>
    @*</div>*@
</body>
</html>

<script type="text/javascript">
    // { el:"",text:"",color:""}
    var tunningTip = function (opts) {
        var el = ".tip-" + opts.el;
        $(el).children("div[class='tip-text']").html(opts.text);
        $(el).css("background", opts.color);
        $(el).children("span[class='tip-arrow']").css("border-color", opts.color + " transparent transparent");
    }
    var tunningTips = function (opts) {
        var el = ".tip-" + opts.el;
        $(el).children("div[class='tip-text']").html(opts.text);
        $(el).css("background", opts.color);
        $(el).children("span[class='tip-arrows']").css("border-color", " transparent transparent" + opts.color);
    }
    $(function () {
        ImgLoading(true);
    })
    function S() {
        window.setInterval(function () {
            ImgLoading(false);
        }, 1000 * 10);
    }
    function ImgLoading(first) {
        $.ajax({
            async: false,
            url: "/AutomationLine/RunningState/GetRunningState",
            type: "get",
            dataType: "json",
            success: function (da) {
                var item = da[0];
                tunningTip({
                    el: "1",
                    text: item.Describe1,
                    color: item.DescribeColor1,
                });
                tunningTip({
                    el: "2",
                    text: item.Describe2,
                    color: item.DescribeColor2,
                });
                tunningTip({
                    el: "3",
                    text: item.Describe3,
                    color: item.DescribeColor3,
                });
                tunningTips({
                    el: "4",
                    text: item.Describe4,
                    color: item.DescribeColor4,
                });
                tunningTips({
                    el: "5",
                    text: item.Describe5,
                    color: item.DescribeColor5,
                });
                tunningTips({
                    el: "6",
                    text: item.Describe6,
                    color: item.DescribeColor6,
                });
                var strs = new Array();
                strs = item.Describe5.split(";");
                $("#dis1").css("width", strs[0] + "%");
                $("#dis2").css("width", strs[1] + "%");
                $("#dis3").css("width", strs[2] + "%");
                $("#dis4").css("width", strs[3] + "%");

                var strs1 = new Array();
                strs1 = item.Describe6.split(";");
                $("#yis1").css("width", strs1[0] + "%");
                $("#yis2").css("width", strs1[1] + "%");
                $("#yis3").css("width", strs1[2] + "%");
                $("#yis4").css("width", strs1[3] + "%");

                if (first) {  // 第一次初始化 直接取值
                    console.log("laod...");
                    $("#OngridList").css("background", "url(" + item.Picture_Url + ")");
                    $("#OngridList").css({ "width": "850px", "height": "530px", "position": "relative", "margin": "auto", "background-size": "100% 100%", "top": "82px" });
                    S();
                }
            }
        })
    }
</script>

