@{
    ViewBag.Title = "工程主页/交期达成率";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script src="~/Content/js/echarts/4.3/echarts.js"></script>
<link href="~/Content/js/pages/AdminLTE.css" rel="stylesheet" />
@*<link href="~/Content/js/pages/AdminLTE.min.css" rel="stylesheet" />*@
<script>
    window.onload = function () {
        loadTwoA();
        loadTwoB();
    }
    function loadTwoA() {
        var ListMonth = new Array();
        var ListDeliveryRate = new Array();

        $.ajax({
            async: false,
            url: "/OperationMonitoring/EngineeringHomepage/GetDataEHDeliveryCompletionRate",
            type: "get",
            dataType: "json",
            success: function (da) {
                $(da).each(function (index, item) {
                    ListMonth.push(item.Month);
                    ListDeliveryRate.push(item.DeliveryRate);
                })
            }
        })
        var myChart = echarts.init(document.getElementById('chart1'));
        var option = {
            title: {
                text: ''
            },
            tooltip: {
                trigger: 'axis'
            },
            grid: {
                top: 10,
                left: 40,
                right: 15,
                bottom: 50,
                containLabel: false
            },
            //toolbox: {
            //    feature: {
            //        saveAsImage: {}
            //    }
            //},
            tooltip: {
                trigger: 'axis',
                formatter: function (params) {
                    var relVal = params[0].name;
                    for (var i = 0, l = params.length; i < l; i++) {
                        relVal += '<br/>' + params[i].marker + params[i].seriesName + ' : ' + params[i].value + "%";
                    }
                    return relVal;
                }
            },
            xAxis: [{
                type: 'category',
                data: ListMonth,
                axisLine: {
                    show: false,
                    lineStyle: {
                        color: '#808080',

                    }
                },
                axisLabel: {
                    // interval: 0,
                    // rotate: 40,
                    textStyle: {
                        fontSize: '11'
                    }
                },
                axisTick: { //y轴刻度线
                    show: false
                },
            }],
            yAxis: [{
                interval: 20,
                type: 'value',
                axisLine: {
                    show: false,
                    lineStyle: {
                        color: '#f2961d'
                    }
                },
                splitLine: {
                    show: true,
                    lineStyle: {
                        //color: "#57617B"
                        type: 'dashed'
                    }
                },
                axisTick: { //y轴刻度线
                    show: false
                },
                axisLabel: {
                    formatter: function (value) {
                        return value + "%";
                    },
                    show: true,
                    textStyle: {
                        color: '#f2961d'
                    }
                },
            }],
            series: [
                {
                    name: '交期达成率',
                    type: 'line',
                    areaStyle: {
                        normal: {
                            color: new echarts.graphic.LinearGradient(
                                    0, 0, 0, 1,
                                    [
                                        { offset: 0, color: '#f28938' },
                                        { offset: 0.5, color: '#ffba86' },
                                        { offset: 1, color: '#fefefe' }
                                    ]
                            )
                        }
                    },
                    itemStyle: {
                        normal: {
                            color: '#f28938', //改变折线点的颜色
                            lineStyle: {
                                color: '#f28938' //改变折线颜色
                            }
                        }
                    },
                    data: ListDeliveryRate,
                }
            ]
        };
        myChart.setOption(option);
    }
    function loadTwoB() {
        var listName = new Array();
        var str = [];
        $.ajax({
            async: false,
            url: "/OperationMonitoring/EngineeringHomepage/GetDataEHNumberMoldsDelivered",
            type: "get",
            dataType: "json",
            success: function (da) {
                $(da).each(function (index, item) {
                    listName.push(item.Type);
                    var str3 = new Object();
                    str3.name = item.Type;
                    str3.value = item.Number;
                    str[index] = str3;
                })
            }
        })
        var myChart = echarts.init(document.getElementById('chart2b'))

        var color = ['#f18533', '#6d48e6']

        var option = {
            color: color,
            title: {
                text: '',
                left: 'center',
                top: '50%',
                textStyle: {
                    fontSize: 20,
                    color: '#808080',
                    fontWeight: 'normal'
                }
            },
            tooltip: {
                trigger: 'item'
            },
            legend: {
                //orient: 'vertical',
                //right: 20,
                //top: 20,
                itemWidth: 10,  //图例标记的图形宽度
                itemHeight: 10, //图例标记的图形高度
                bottom: 0,
                left: 'center',
                data: listName,
                textStyle: {    //图例文字的样式
                    color: '#000000',  //文字颜色
                    fontSize: 12    //文字大小
                }
            },
            series: [{
                type: 'pie',
                roseType: 'radius',
                radius: ['40%', '70%'],
                center: ['45%', '50%'],
                data: str,
                label: {
                    normal: {
                        formatter: '{font|{c}}\n{hr|}\n{font|{d}%}',
                        rich: {
                            font: {
                                fontSize: 14,
                                padding: [5, 0],
                                color: '#808080'
                            },
                            hr: {
                                height: 0,
                                borderWidth: 1,
                                width: '100%',
                                borderColor: '#808080'
                            }
                        }
                    },
                },
                labelLine: {
                    lineStyle: {
                        color: '#808080'
                    }
                },
                emphasis: {
                    itemStyle: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0,0,0,0.5)'
                    }
                }
            }]
        };
        myChart.setOption(option);
    }
</script>
<body>
    <div class="row">
        <section class="col-lg-6 connectedSortable" style="width:100%;" >
            <div class="box box-default">
                <div class="box-header with-border">
                    <div class="box-title" style="color:#474242;font-size:16px;font-weight:700;">交期达成率</div>
                </div>
                <div class="tab-content" style="height:660px;">
                    <div style="float:left;width:40%">
                        <div style="text-align:center;font-size:13px;color:#808080;">上月交付模具数量</div>
                        <div id="chart2b" style="height:600px;"></div>
                    </div>
                    <div style="margin-left:40%;">
                        <div style="text-align:center;font-size:13px;color:#808080;">交期达成率趋势</div>
                        <div id="chart1" style="height:600px;"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
